@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Great+Vibes&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Anek Devanagari', sans-serif;
    scroll-behavior: smooth;
}
a {
    color: #000;
}
header {
    height: 100vh;
    background-image: url('./public/restoran.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    margin-bottom: 10rem;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

    nav {
        padding: 20px 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        position: relative;
        z-index: 1;
        .side_buttons {
            text-decoration: none;
            color: #ffff;
            border-bottom: 2px solid #fff;
        }
        .logo {
            margin-top: 10px;
            font-family: 'Great Vibes', cursive;
            letter-spacing: 1px;
            font-size: 2.5rem;
            color: #ffff;
        }
        a {
            transition: 0.35s all;
        }
        a:hover {
            padding: 0 1rem;
        }
    }
    .main-text {
        display: flex;
        position: relative;
        justify-content: center;
        top: 10rem;
        align-content: center;
        color: #fff;
        p {
            font-family: 'Great Vibes', cursive;
            font-size: 8rem;
        }
    }
    .scroll {
        color: white;
        display: flex;
        position: relative;
        justify-content: center;
        top: 25rem;
        a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            border-bottom: 2px solid white;
            transition: 0.35s all;

            &:hover {
                scale: 110%;
            }
        }
    }
}
main {
    .box-1 {
        display: flex;
        position: relative;
        justify-content: center;
        .description {
            margin: auto;
            border: 2px solid transparent;
            width: 50%;
            text-align: start;
            font-size: 1.5rem;
            font-weight: 300;
            padding: 0.5rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

            i {
                font-family: 'Great Vibes', cursive;
                font-weight: 500;
                font-size: 2rem;
                letter-spacing: 1.5px;
            }
        }
    }
    .menu {
        margin-top: 15rem;
        margin-bottom: 15rem;
        margin-left: 10rem;
        .menu-text {
            font-size: 6rem;
            font-family: 'Great Vibes', cursive;
            margin: 5rem;
        }
        .menu-container {
            .menu-bar {
                margin-bottom: 10px;
                display: flex;
                justify-content: flex-start;
                margin-left: 65px;
                input {
                    margin: 0 10px;
                    font-family: 'Anek Devanagari', cursive;
                    text-decoration: none;
                    border: transparent;
                    border-bottom: 1px solid black;
                    background-color: transparent;
                    font-size: 23px;
                    transition: 0.35s all;
                    &:focus {
                        border-bottom: 1px solid black;
                        scale: 110%;
                        font-weight: 500;

                        #img-box {
                            background-image: url('./public/restoran.png');
                        }
                    }
                }
            }
        }
        .menu-container-2 {
            display: flex;
            justify-content: center;
            max-width: 1200px;
            padding-right: 5rem;

            .menu-main {
                width: 1200px;
                padding-top: 2rem;
                display: flex;
                justify-content: space-between;
                gap: 35px;

                .image-box {
                    width: 400px;
                    height: 400px;
                    background-image: url('./public/margarita.jpg');
                    background-size: cover;
                    background-position: center;
                    margin: auto;
                }
                .menu-list {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-left: 15px;
                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding-right: 60px;
                        font-size: 22px;
                        border-bottom: 2px solid black;
                        font-weight: 300;
                    }
                    a {
                        text-decoration: none;
                        margin-bottom: 10px;
                        transition: 0.35s all;
                        &:hover {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1536px) {
}
@media only screen and (max-width: 1280px) {
    .main-text {
        margin-top: 15rem;
    }
    .scroll {
        margin-top: 15rem;
    }
}
@media only screen and (max-width: 1024px) {
    .scroll {
        margin-top: 2rem;
    }
}
