@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nanum+Gothic:wght@400;700&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'roboto condensed', sans-serif;
}

header {
    .navbar {
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #f5f5f5;

        .buttons {
            display: flex;
            a {
                margin: 10px 20px;
                text-decoration: none;
                color: #222831;
                font-size: 20px;
                font-weight: 400;
                transition: all 0.35s;
            }

            .playground:hover {
                scale: 120%;
            }

            .services:hover {
                scale: 120%;
            }

            .office:hover {
                scale: 120%;
            }

            .about-me:hover {
                scale: 120%;
            }
        }

        .contacts {
            display: flex;
            align-items: center;

            a {
                margin: 0 10px;
                padding: 15px 20px;
                text-decoration: none;
                color: #222831;
                background-color: #eeeded;
                font-size: 20px;
                font-weight: 600;
                border-radius: 10px;
                transition: all 0.38s;
                box-shadow:
                    0 10px 15px -3px rgb(0 0 0 / 0.1),
                    0 4px 6px -4px rgb(0 0 0 / 0.1);

                &:hover {
                    background-color: #222831;
                    border-color: #222831;
                    color: #eeeded;
                }
            }

            .call {
                background-color: #222831;

                &:hover {
                    background-color: #31363f;
                    border-color: #31363f;
                }
            }
        }
    }
    .container {
        width: 980px;
        max-width: 980px;
    }
    .row {
        display: flex;
        justify-content: center;
        background-color: #f5f5f5;
        padding-top: 2rem;
        padding-bottom: 4rem;
        box-shadow:
            0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    .first_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 25rem;
        .kutu-1 {
            display: flex;
            align-items: center;
            font-size: 90px;
            font-weight: bold;
        }
        .kutu-2 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .basement {
                font-size: 40px;
                margin-top: 90px;
                font-weight: 600;
            }
            .aciklama {
                margin-top: 20px;
                font-size: 22px;
                color: #31363f;
                font-weight: 200;
            }
            .main-buttons {
                margin-top: 70px;

                .talk {
                    font-size: 25px;
                    background-color: #31363f;
                    border: 2px solid #31363f;
                    color: #f5f5f5;
                    border-radius: 15px;
                    margin-right: 40px;
                    text-decoration: none;
                    padding: 10px 30px;
                    box-shadow:
                        0 10px 15px -3px rgb(0 0 0 / 0.1),
                        0 4px 6px -4px rgb(0 0 0 / 0.1);
                    transition: 0.4s all;

                    &:hover {
                        background-color: #f5f5f5;
                        border-color: #31363f;
                        color: #31363f;
                    }
                }
                .work {
                    font-size: 25px;
                    border: 2px solid #31363f;
                    border-radius: 15px;
                    color: #31363f;
                    text-decoration: none;
                    padding: 10px 30px;
                    box-shadow:
                        0 10px 15px -3px rgb(0 0 0 / 0.1),
                        0 4px 6px -4px rgb(0 0 0 / 0.1);
                    transition: 0.4s all;
                    &:hover {
                        background-color: #31363f;
                        color: #f5f5f5;
                    }
                }
            }
        }
    }
}
