@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nanum+Gothic:wght@400;700&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'roboto condensed', sans-serif;
}

header {
    .navbar {
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #f5f5f5;

        .buttons {
            display: flex;
            a {
                margin: 10px 20px;
                text-decoration: none;
                color: #222831;
                font-size: 20px;
                font-weight: 400;
                transition: all 0.35s;
            }

            .playground:hover {
                scale: 120%;
            }

            .services:hover {
                scale: 120%;
            }

            .office:hover {
                scale: 120%;
            }

            .about-me:hover {
                scale: 120%;
            }
        }

        .contacts {
            display: flex;
            align-items: center;

            a {
                margin: 0 10px;
                padding: 15px 20px;
                text-decoration: none;
                color: #222831;
                background-color: #eeeded;
                font-size: 20px;
                font-weight: 600;
                border-radius: 10px;
                transition: all 0.38s;
                box-shadow:
                    0 10px 15px -3px rgb(0 0 0 / 0.1),
                    0 4px 6px -4px rgb(0 0 0 / 0.1);

                &:hover {
                    background-color: #222831;
                    border-color: #222831;
                    color: #eeeded;
                }
            }

            .call {
                background-color: #222831;

                &:hover {
                    background-color: #31363f;
                    border-color: #31363f;
                }
            }
        }
    }
    .container {
        width: 980px;
        max-width: 980px;
    }
    .row {
        display: flex;
        justify-content: center;
        background-color: #f5f5f5;
        padding-top: 2rem;
        padding-bottom: 4rem;
        box-shadow:
            0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    .first_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 20rem;
        .kutu-1 {
            display: flex;
            align-items: center;
            font-size: 90px;
            font-weight: bold;
        }
        .kutu-2 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .basement {
                letter-spacing: 2px;
                font-size: 40px;
                margin-top: 20px;
                font-weight: 500;
            }
            .aciklama {
                margin-top: 10px;
                font-size: 22px;
                color: #31363f;
                font-weight: 200;
            }
            .main-buttons {
                margin-top: 35px;

                .talk {
                    font-size: 25px;
                    background-color: #31363f;
                    border: 2px solid #31363f;
                    color: #f5f5f5;
                    border-radius: 15px;
                    margin-right: 40px;
                    text-decoration: none;
                    padding: 10px 30px;
                    box-shadow:
                        0 10px 15px -3px rgb(0 0 0 / 0.1),
                        0 4px 6px -4px rgb(0 0 0 / 0.1);
                    transition: 0.4s all;

                    &:hover {
                        background-color: #f5f5f5;
                        border-color: #31363f;
                        color: #31363f;
                    }
                }
                .work {
                    font-size: 25px;
                    border: 2px solid #31363f;
                    border-radius: 15px;
                    color: #31363f;
                    text-decoration: none;
                    padding: 10px 30px;
                    box-shadow:
                        0 10px 15px -3px rgb(0 0 0 / 0.1),
                        0 4px 6px -4px rgb(0 0 0 / 0.1);
                    transition: 0.4s all;
                    &:hover {
                        background-color: #31363f;
                        color: #f5f5f5;
                    }
                }
            }
        }
    }
}
.main-place {
    display: flex;
    justify-content: center;
    background-color: #eeeded;
    padding-top: 10rem;
    .container-a {
        width: 980px;
        max-width: 980px;
        display: flex;
        justify-content: space-between;
        .space-1 {
            .experience {
                font-size: 35px;
                color: #222831;
            }
            .job-1 {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                padding-bottom: 20px;
                border-bottom: 2px solid #b4b4b8;
                .icon-box-1 {
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f5f5f5;
                    border: 2px solid #31363f;
                    border-radius: 10px;
                    .code-icon {
                        scale: 150%;
                    }
                }
                .job-detail-1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-left: 20px;
                    padding-bottom: 5px;

                    .webdev {
                        font-size: 24px;
                        margin-top: 4px;
                        color: #222831;
                    }
                    .webdev-2 {
                        font-weight: 300;
                        font-size: 18px;
                        margin-top: 10px;
                        color: #31363f;
                    }
                }
            }
            .job-2 {
                display: flex;
                justify-content: flex-start;
                margin-top: 40px;
                padding-bottom: 20px;
                border-bottom: 2px solid #b4b4b8;
                .icon-box-2 {
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f5f5f5;
                    border: 2px solid #31363f;
                    border-radius: 10px;
                    .money {
                        scale: 150%;
                    }
                }
                .job-detail-2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-left: 20px;
                    padding-bottom: 5px;

                    .saleman {
                        font-size: 24px;
                        margin-top: 4px;
                        color: #222831;
                    }
                    .date {
                        font-size: 18px;
                        margin-top: 10px;
                        color: #31363f;
                        font-weight: 300;
                    }
                }
            }
            .job-3 {
                display: flex;
                justify-content: flex-start;
                margin-top: 40px;
                padding-bottom: 20px;
                border-bottom: 2px solid #b4b4b8;
                .icon-box-3 {
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f5f5f5;
                    border: 2px solid #31363f;
                    border-radius: 10px;
                    .iron {
                        scale: 150%;
                    }
                }
                .job-detail-3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-left: 20px;
                    padding-bottom: 5px;

                    .textile {
                        font-size: 24px;
                        margin-top: 4px;
                        color: #222831;
                    }
                    .date {
                        font-size: 18px;
                        font-weight: 300;

                        margin-top: 10px;
                        color: #31363f;
                    }
                }
            }
        }
        .space-2 {
            .awards {
                font-size: 35px;
                color: #222831;
            }
            .awards-1 {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                padding-bottom: 20px;
                border-bottom: 2px solid #b4b4b8;
                .award-icon-1 {
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f5f5f5;
                    border: 2px solid #31363f;
                    border-radius: 10px;
                    .cup {
                        scale: 150%;
                    }
                }
                .award-detail-1 {
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-bottom: 5px;
                    .parfum {
                        font-size: 24px;
                        margin-top: 4px;
                        color: #222831;
                    }
                    .date {
                        font-size: 18px;
                        margin-top: 10px;
                        color: #31363f;
                        font-weight: 300;
                    }
                }
            }
            .awards-2 {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                padding-bottom: 20px;
                border-bottom: 2px solid #b4b4b8;
                .award-icon-2 {
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f5f5f5;
                    border: 2px solid #31363f;
                    border-radius: 10px;
                    .elevator {
                        scale: 150%;
                    }
                }
                .award-detail-2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-bottom: 5px;
                    .asansor {
                        font-size: 24px;
                        margin-top: 4px;
                        color: #222831;
                    }
                    .date {
                        font-size: 18px;
                        margin-top: 10px;
                        color: #31363f;
                        font-weight: 300;
                    }
                }
            }
            .awards-3 {
                display: flex;
                justify-content: flex-start;
                margin-top: 40px;
                padding-bottom: 20px;
                border-bottom: 2px solid #b4b4b8;
                .award-icon-3 {
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f5f5f5;
                    border: 2px solid #31363f;
                    border-radius: 10px;
                    .bestfriend {
                        scale: 150%;
                    }
                }
                .award-detail-3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-bottom: 5px;
                    margin-left: 15px;
                    .bestie {
                        font-size: 24px;
                        margin-top: 4px;
                        color: #222831;
                    }
                    .date {
                        font-size: 18px;
                        margin-top: 10px;
                        color: #31363f;
                        font-weight: 300;
                    }
                }
            }
        }
        margin-bottom: 20px;
    }
}
.bottom-main {
    display: flex;
    justify-content: center;
    width: 980px;
    align-items: center;
}
.bottom-place {
    display: flex;
    justify-content: center;
    background-color: #eeeded;
    padding-top: 5rem;
    .container-b {
        display: flex;
        width: 980px;
        max-width: 980px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .anabaslik {
            display: flex;
            justify-content: center;
            p {
                display: flex;
                font-size: 40px;
                font-weight: 500;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
            }
        }

        .boxes {
            width: 980px;
            display: flex;
            justify-content: space-between;

            .box {
                width: 450px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                .box_inner {
                    background-color: #f5f5f5;
                    border-radius: 23px;
                    .box_image {
                        width: 450px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        scale: 90%;

                        img {
                            width: 100%;
                            border-radius: 16px;
                        }
                    }
                    .altbaslik {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                    figcaption {
                        margin-top: 26px;
                        color: #222831;
                        font-size: 24px;
                        font-weight: 900;
                    }
                    .description {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        font-size: 18px;
                        margin-left: 24px;
                        margin-bottom: 24px;
                        font-weight: 300;
                        color: #31363f;
                        .who {
                            margin-bottom: 10px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
