@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: 'Playfair Display', serif;
    background-color: #eae4dd;
}
body {
    main {
        margin: 15rem 10rem 0;
        .container-1 {
            display: flex;
            justify-content: space-between;
            text-align: start;
            .left-content {
                width: 50%;
                .package {
                    font-family: 'open sans', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: #295f98;
                }
                .big-text {
                    margin-top: 6px;
                    font-size: 46px;
                }
            }
            .right-content {
                width: 40%;
                margin-top: 30px;
                font-family: 'open sans', sans-serif;
                font-size: 18px;
            }
        }
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        * {
            margin: 0;
        }

        .wrapper {
            width: 90%;
            max-width: 1536px;
            margin-inline: auto;
            position: relative;
            height: 100px;
            margin-top: 5rem;
            overflow: hidden;
            mask-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 1) 20%,
                rgba(0, 0, 0, 1) 80%,
                rgba(0, 0, 0, 0)
            );
        }

        @keyframes scrollLeft {
            to {
                left: -200px;
            }
        }

        .item {
            width: 200px;
            height: 100px;
            background-color: red;
            border-radius: 6px;
            position: absolute;
            left: max(calc(200px * 8), 100%);
            animation-name: scrollLeft;
            animation-duration: 30s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        .item1 {
            animation-delay: calc(30s / 8 * (8 - 1) * -1);
        }

        .item2 {
            animation-delay: calc(30s / 8 * (8 - 2) * -1);
        }

        .item3 {
            animation-delay: calc(30s / 8 * (8 - 3) * -1);
        }

        .item4 {
            animation-delay: calc(30s / 8 * (8 - 4) * -1);
        }

        .item5 {
            animation-delay: calc(30s / 8 * (8 - 5) * -1);
        }

        .item6 {
            animation-delay: calc(30s / 8 * (8 - 6) * -1);
        }

        .item7 {
            animation-delay: calc(30s / 8 * (8 - 7) * -1);
        }

        .item8 {
            animation-delay: calc(30s / 8 * (8 - 8) * -1);
        }
    }
}
