@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Montserrat', sans-serif;
}
.main-menu {
    position: relative;
    background-color: #fefae0;
}
header {
    .buttons {
        display: flex;
        position: relative;
        background-color: #dda15e;
        height: 150px;
        font-size: 25px;
        justify-content: space-between;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
        border-bottom: 7px solid #283618;

        a {
            height: 2rem;
            position: relative;
            text-decoration: none;
            color: #fefae0;
            border-bottom: 3px solid transparent;
            transition: all 0.25s ease-in;
            &:hover {
                border-bottom: 3px solid #bc6c25;
                scale: 130%;
            }
        }
    }
    .yazilar {
        width: 100%;
        height: 1140px;
        position: relative;
        justify-content: space-between;
        display: flex;
        .isim {
            display: flex;
            color: #283618;
            position: relative;
            font-weight: 600;
            font-size: 120px;
            text-align: center;
            margin-top: 450px;
            margin-bottom: 570px;
            margin-left: 120px;
            border: #283618 4px solid;
            padding-bottom: 0px;
        }
        .foto {
            scale: 50%;
            position: relative;
            display: flex;
        }
    }
}
