@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
body {
    padding: 0;
    margin: 0;
    * {
        font-family: 'Nanum Gothic Medium', sans-serif;
    }
}
html {
    padding: 0;
    margin: 0;
    font-family: nanum-gothic sans-serif;
}
header {
    width: 100%;
}
.hankit-menu {
    width: 100%;
    height: 10rem;
    background-color: #f8f6f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nanum Gothic Medium', sans-serif;
    .logo {
        max-width: 33%;
        left: -100px;
        position: relative;
        scale: 30%;
        display: flex;
        justify-content: space-between;
    }
    .navigation {
        display: flex;
        a {
            font-size: 20px;
            text-decoration: none;
            margin: 0 25px;
            color: #222222;
            border-bottom: 3px solid transparent;
            transition: all 0.45s;
            &:hover {
                border-bottom: 3px solid #050c9c;
                scale: 110%;
            }
        }
    }
    .register {
        margin-right: 75px;
        padding-left: 200px;

        a {
            font-size: 20px;
            text-decoration: none;
            margin: 0 25px;
            padding: 10px 15px;
            color: #222222;
            border: 2px solid transparent;
            border-radius: 18px;
            transition: all 0.35s;
            font-weight: 600;
            &:hover {
                border: 2px solid #050c9c;
                background-color: #3572ef;
                color: #f8f6f4;
            }
        }
    }
}
.container {
    height: 55rem;
    padding-left: 70px;
    padding-right: 90px;
    background-color: #f8f6f4;
    display: flex;
    justify-content: space-around;
    position: relative;
    .first_content {
        height: 60rem;
        width: 50rem;
        padding: 10px 10px;
        font-size: 30px;

        #baslik {
            padding-top: 150px;
            text-align: left;
            font-weight: 600;
        }
        #description {
            padding-top: 40px;
            font-size: 23px;
        }
        .buttons {
            display: flex;
            position: relative;
            justify-content: left;
            padding-top: 50px;
            a {
                margin-right: 50px;
                padding: 10px 25px;
                text-decoration: none;
                color: #222222;
                border: 3px solid #222222;
                border-radius: 30px;
                text-align: center;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
                transition: all 0.35s;
                &:hover {
                    border: 3px solid #050c9c;
                    background-color: #3572ef;
                    color: #f8f6f4;
                }
            }
        }
    }
    #design {
        height: 50rem;
        width: 50rem;
        display: flex;
        margin-right: 90px;
    }
    #information {
        top: 52rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        font-size: 25px;
        font-weight: 200;
        color: #050c9c;
    }
}
#container-2 {
    height: 10rem;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 100%;
    }
}
.animate__backInLeft {
    --animate-duration: 0.8s;
}
.animate__fadeIn {
    --animate-duration: 3s;
}

main {
    height: 50rem;
}
