@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
body {
    padding: 0;
    margin: 0;

}
html {
    padding: 0;
    margin: 0;
    font-family: nanum-gothic sans-serif;
}
header {
    width: 100%;
}
.hankit-menu {
    width: 100%;
    height: 10rem;
    background-color: #9B86BD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nanum Gothic Medium', sans-serif;
}
    .logo{
        max-width: 33%;
        position: relative;
        position: relative;
        scale: 30%;
        display: flex;
        justify-content: space-between;
    }
    .navigation{
        display: flex;
        a{  font-size: 20px;
            text-decoration: none;
            margin: 0 25px;
            color: #222222;
            border-bottom: 3px solid transparent;
            transition: all 0.45s;
                &:hover{
                    border-bottom:3px solid #050C9C;
                    scale: 110%;
                }


        }
    }
    .register{
        margin-right: 35px;

        a{  font-size: 20px;
            text-decoration: none;
            margin: 0 25px;
            padding: 10px 15px;
            color: #222222;
            border: 2px solid transparent;
            border-radius: 18px;
            transition: all 0.35s;
            font-weight: 600;
            &:hover{
                border: 2px solid #050C9C;
                background-color: #3572EF;
                color: #A7E6FF;

            }
    }
}
