@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SUSE:wght@100..800&display=swap');
* {
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    font-family: 'SUSE', sans-serif;
    background-color: #faf9f6;
}
body {
    header {
        width: 100%;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        nav {
            padding: 30px 3rem;
            display: flex;
            justify-content: space-between;
            border: 1px solid rgba(0, 0, 0, 0.24);
            font-size: 1.3rem;
            align-items: center;
            .logo {
                font-family: 'Inter', sans-serif;
                font-size: 2rem;
                span {
                    color: #ff9100;
                }
                a {
                    text-decoration: none;
                    color: black;
                }
            }
            .nav-buttons {
                a {
                    margin: 0 20px;
                    padding-bottom: 5px;
                    text-decoration: none;
                    color: black;
                    border-bottom: 2px solid transparent;
                    transition: 0.3s all;
                    &:hover {
                        border-bottom: 2px solid black;
                        font-weight: 500;
                    }
                    &.selected {
                        border-bottom: 2px solid black;
                        font-weight: 500;
                    }
                }
                span {
                    color: rgba(0, 0, 0, 0.24);
                }
            }
            .social-media {
                a {
                    width: 100px;
                    height: 100px;
                    padding: 0 20px;
                    img {
                        scale: 120%;
                        align-items: center;
                        align-content: center;
                    }
                }
            }
        }
        .container-header {
            padding: 80px 60px;
            display: flex;
            justify-content: space-between;
            gap: 15rem;
            align-items: center;
            align-content: center;
            align-self: center;
            max-width: 1250px;
            max-height: 15rem;
            overflow: hidden;
            .find {
                font-size: 4rem;
                font-family: 'Inter', sans-serif;
                .gradient {
                    background: #3c3c3c;
                    background: linear-gradient(
                        to right,
                        #3c3c3c 15%,
                        #d3d2cf 100%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                p {
                    text-align: right;
                    font-weight: 400;

                    img {
                        scale: 300%;
                        margin-bottom: 10px;
                    }
                }
            }
            .cards {
                padding-top: 200px;
                .card-1 {
                    background-color: white;
                    padding: 20px 40px;
                    width: 300px;
                    justify-content: center;
                    align-items: center;

                    .search-tabs {
                        button {
                            margin: 0 10px;
                            padding: 10px 20px;
                            font-size: 18px;
                            border: none;
                            font-weight: 300;
                            transition: 0.3s all;
                            &.active {
                                background-color: black;
                                color: #faf9f6;
                            }
                            &:hover {
                                background-color: black;
                                color: #faf9f6;
                            }
                            &:focus {
                                background-color: black;
                                color: #faf9f6;
                                .active {
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }
                    }
                }
                .card-2 {
                    background-color: white;
                    width: 450px;
                    padding: 20px 20px 60px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    select {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 400px;
                        height: 50px;
                        padding: 8px;
                        margin: 10px 0;
                        border: 2px solid #ccc;
                        border-radius: 4px;
                        font-size: 22px;
                        color: #7d7d7d;
                        text-align: center;
                    }
                    .search-button {
                        width: 400px;
                        height: 50px;
                        margin-top: 10px;
                        background-color: black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: white;
                        font-size: 22px;
                        img {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }
    main {
        .bg {
            width: 100%;
            height: 30rem;
            background-image: url('./public/gallery/bg.png');
            background-size: cover;
            background-position: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .container-1 {
            max-width: 1200px;
            margin: auto;
            padding: 5rem 40px;
            border: 2px solid red;
            display: flex;
            position: relative;
            justify-content: space-between;
            .boxes {
                width: 100%;
                padding: 0 40px;
            }
            .box-1 {
                .left-1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    p {
                        font-family: 'Inter', sans-serif;
                        padding-left: 10px;
                        text-align: left;
                        font-size: 18px;
                        font-weight: 500;
                        color: #ff9100;
                        text-shadow: 0 4px 5px rgba(0, 0, 0, 0.14);
                    }
                }
            }
        }
    }
}
