@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
html {
    margin: 0;
    padding: 0;
    font-family: 'roboto condensed', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #f2e8c6;
}
.header .header_content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    .logo {
        font-size: 25px;
        color: #800000;
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
        &:hover {
            color: #982b1c;
            scale: 130%;
        }
    }
    .navbar a {
        font-size: 18px;
        color: #222;
        text-decoration: none;
        font-weight: 500;
        margin: 0 20px;
        &:hover {
            color: maroon;
        }
    }
    .social-media {
        display: flex;
        justify-content: space-between;
        width: 150px;
        height: 40px;
        position: static;
        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: transparent;
            border: 3px solid transparent;
            border-radius: 30px;
            text-decoration: none;
            transform: rotate(45deg);
            transition: 0.5s;
            &:hover {
                border: 3px solid #f2e8c6;
            }
            i {
                font-size: 24px;
                color: #dad4b5;
                transform: rotate(-45deg);
            }
        }
    }
}

.home {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8% 0;
    overflow: hidden;
    .home-content {
        max-width: 630px;
        h1 {
            font-size: 50px;
            line-height: 1.2;
        }
        h3 {
            font-size: 40px;
            color: maroon;
        }
        p {
            font-size: 16px;
            margin: 15px 0 30px;
        }
        .btn {
            display: inline-block;
            padding: 10px 28px;
            background: maroon;
            border: 2px solid maroon;
            border-radius: 6px;
            box-shadow: 0 0 10px #982b1c;
            font-size: 16px;
            color: #f2e8c6;
            letter-spacing: 1px;
            text-decoration: none;
            font-weight: 600;
            transition: 0.5s;
            &:hover {
                background: transparent;
                color: maroon;
            }
        }
    }
}

.home-img {
    position: relative;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}
.rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #dad4b5;
    border: 25px solid maroon;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2);
    .porsche {
        position: absolute;
        top: 75px;
        left: -250px;
        max-width: 850px;
        transform: rotate(-45deg);
    }
}
.rhombus2 {
    position: absolute;
    bottom: 75%;
    right: -61%;
    width: 800px;
    height: 800px;
    background: maroon;
    z-index: -1;
}
