@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(public/gallery/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    nav{
        max-width: 1300px;
        width: 100%;
        margin: auto;
        position: relative;
        padding-top: 1rem;
        .nav-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                color:black;
                transition: .4s all;
            &:hover{
                color: white;
            }
            }
            .left-nav{
                display: flex;
                flex-direction: column;
                padding-top: 25px;
                a{
                    margin: 3px;

                }
            }
            .logo{
                width: 100px;
                padding-top: 15px;
                .logo-link{
                    img{
                        width: 70px;
                    }
                }
            }
            .right-nav{
                display: flex;
                flex-direction: column;
                text-align: end;
                padding-top: 25px;

                a{
                    margin: 3px;
                }
            }
        }
    }
    .container{
        max-width: 1300px;
        margin: auto;
    }
    .container{
        .content{
            padding-top: 25rem;
            color: white;
            position: relative;
            .top-content{
                padding-top: 2rem;
                max-width: 550px;
                position: absolute;
                padding-bottom: 20px;
                p{
                    padding-left: 2rem;
                    font-weight: 200;
                    font-size: 26px;
                    text-shadow: 0px 0px 13px rgba(0,0,0,0.36);
                }
            }
            .bottom-content{
                display: flex;
                padding-top: 5rem;
                .left-content{
                    p{
                        font-size: 16rem;
                        white-space: nowrap;
                        font-weight: 800;
                        text-shadow: 0px 0px 13px rgba(0,0,0,0.36);
                    }
                }
                .right-content{
                    .booking{
                        position: absolute;
                        width: 150px;
                        height: 150px;
                        background-color: #ef9386;
                        border-radius: 100%;
                        text-align: center;
                        align-content: center;
                        right: 6rem;
                        transition: all ease 0.7s;
                        &:hover{
                            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                            transition: .4s all;
                            p{
                                font-size: 22px;
                                text-shadow: 0px 0px 13px rgba(0,0,0,0.36);
                            }

                            
                        }
                    }
                    .hotel-text{
                        position: relative;
                        padding-top: 15rem;
                        padding-left: 2rem;
                        font-size: 3rem;
                        font-weight: 500;
                        text-shadow: 0px 0px 13px rgba(0,0,0,0.36);
                    }
                }
            }

        }
    }
}